:root {
  /* I wanna use variables, but we should choose a color palette and decide how many of these variables we actually use/need */
  --text: #6b6375;
  --text-h: #ccd0da;
  --bg: #1e1e2e;
  --border: #313244;
  --accent: #89b4fa;
  --accent-bg: rgba(137, 180, 250, 0.1);
  --accent-border: rgba(137, 180, 250, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1 {
  font-family: var(--heading);
  color: var(--text-h);
}

button {
  font-family: var(--sans);
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-align: center;
  background: var(--accent);
  border: 1px solid var(--accent-border);
  cursor: pointer;
  border-radius: 10px;
}
